.feature {
  text-align: center;
  width: 280px;
  margin: 0 18px;
  img {
    margin-bottom: 20px;
  }
  h3 {
    color: #444;
  }
  p {
    font-size: 14px;
    line-height: 16px;
    color: #555;
  }
}
