$max-height: 800px;

header {
  max-height: $max-height;
  background: linear-gradient(116deg, #2559cd 9%, #1d4dc9 41%, #0f38c1 80%);
  position: relative;
  .hero {
    height: 100vh;
    max-height: $max-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    h1,
    h2,
    p {
      max-width: 444px;
    }

    h1,
    h2 {
      margin-bottom: 12px;
    }

    p {
      font-weight: 500;
      margin-bottom: 24px;
    }
  }
  .rocket {
    position: absolute;
    width: 180px;
    right: 228px;
    bottom: 132px;
  }
  .clouds {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    &.background {
      mix-blend-mode: soft-light;
    }
  }
}
