nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
  background: linear-gradient(116deg, #2559cd 9%, #103bc1 80%);
  .nav-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-brand {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    span {
      color: #fdba46;
    }
  }

  .main-menu {
    display: flex;
    align-items: center;
    li {
      padding: 20px;
      color: #fff;
      font-size: 15px;
      font-weight: 500;
      opacity: 0.7;
      transition: opacity 0.4s ease-in-out;
      &.active {
        opacity: 1;
      }
    }
    a {
      color: inherit;
      font-size: inherit;
      text-decoration: none;
    }
  }
}
