@import 'assets/scss/reset';
@import 'assets/scss/grid';
@import 'assets/scss/forms';

.app {
  font-family: 'Inter', sans-serif;
}

body {
  // just for testing
  min-height: 2000px;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

ul {
  li {
    list-style-type: none;
  }
}
