@import 'scss/reset';
@import 'scss/grid';
@import 'scss/forms';

.app {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

ul {
  li {
    list-style-type: none;
  }
}
